
html body {
	font-family: 14px Arial;
	padding: 0;
	margin: 0;
	
	
}

ul {
	list-style: none;
}

header {
	background: url(img/first-bg.jpg) no-repeat;
	height: 690px;
	margin-bottom: 110px;
	color: #fff;

}


.nav {
	padding-top: 45px;
}

.nav ul li {
	display: inline-block;
	padding-right: 40px;
	padding-top: 4px;
}

.nav a {
	color: #fff;
	text-transform: uppercase;
}

.nav a:hover {
	text-decoration: none;
	color: #fed136;
}

.text {
	padding-top: 160px;
}

.text .one{
	font-size: 40px;

}

.text .two{
	font-size: 75px;
}

.text img {
	padding-top: 20px;
	padding-left: 30px;
}

.content .one {
	color: #222222;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

.content .two {
	color: #777777;
	font-size: 16px;
	padding-bottom: 70px;
}


.inner-content img {
	padding-bottom: 10px; 
}

.inner-content p{
	color:#777777;
	font-size: 14px;

}

.inner-content h4 {
	color: #222222;
	font-weight: bold;
}

.inner-content {
	padding-bottom: 120px;
}

.main-content {
	background: #f7f7f7;
}

.three {
	color: #222222;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 120px;
}

.gray {
	color: #777777;
	font-size: 16px;
	padding-bottom: 70px;
}


.photo {
	padding-bottom: 120px;
}

.five {
	color: #222222;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 120px;
}

.date {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;

}

.midle {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;

}

.end {
	font-size: 13px;
	color: #777;
}

.block {
	padding-bottom: 90px;
}

.copyright {
	padding-bottom: 90px;
}










